name: premium_chat
description: Premium Chat frontend (OTP + Profile)
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  shared_preferences: ^2.3.2

flutter:
  uses-material-design: true